header {
  border-bottom: 2px solid #f2f2f2;
  background-color: #fff;
}
.data-content {
  overflow-x: auto;
  border-left: 2px solid #f2f2f2;
}

/* .data-content {
  overflow-x: scroll;
} */
#deletAll.show {
  display: none !important;
}
table {
  min-width: 900px;
}
