header {
  border-bottom: 2px solid #f2f2f2;
  background-color: #fff;
}
.data-content {
  min-height: 88vh;
  border-left: 2px solid #f2f2f2;
}

/* .data-content {
  overflow-x: scroll;
} */
#deletAll.show {
  display: none !important;
}
.noresult {
  display: none;
}
